[
{"dmrid":4000,"type":0,"fxid":"btn4000","caption":"disc."},
{"dmrid":262,"type":0,"fxid":"btn262","caption":"DEU"},
{"dmrid":26200,"type":0,"fxid":"btn26200","caption":"TAC1"},
{"dmrid":26299,"type":0,"fxid":"btn26299","caption":"TAC2"},
{"dmrid":3100,"type":0,"fxid":"btn3100","caption":"3100"}
]