.root{
    -fx-font-size: 10pt;
    -fx-font-family: "Courier New";
    /* -fx-base: rgb(132, 145, 47); */
    /* -fx-background: rgb(225, 228, 203); */
} 

.label_static_tg {
    -fx-font-weight: bold;
    -fx-background-color: orange;
    -fx-background-radius: 3;
    -fx-graphic-text-gap: 2;
    -fx-padding: 2;
    
}

.activeButton{
    -fx-background-color: green;
}

.inactiveButton{
    -fx-background-color: lightgray;
}


.hbox_top{
    -fx-spacing: 3;
    -fx-alignment: CENTER_LEFT;
}

.toggle_group{
    -fx-spacing: 3;
    -fx-alignment: CENTER_LEFT;
}
.label_dynamic_tg {
    -fx-font-weight: bold;
    -fx-background-color: lightgreen;
    -fx-background-radius: 3;
    -fx-graphic-text-gap: 2;
    -fx-padding: 2;
    
}
/* This is always the last called TG, set by the Brandmeister Network */
.label_autostatic_tg {
    -fx-font-weight: bold;
    -fx-background-color: lightcoral;
    -fx-background-radius: 3;
    -fx-graphic-text-gap: 2;
    -fx-padding: 2;
    
}



/* This is always the last called TG, set by the Brandmeister Network */
.button_groupcall {
    -fx-background-color: 
        #a6b5c9,
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 7 20 7 20;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-text-fill: white;
    
}

.button_privatecall {
    -fx-font-weight: bold;
    -fx-background-color: lightcoral;
    -fx-background-radius: 3;
    -fx-graphic-text-gap: 2;
    -fx-padding: 2;
    
}

.flowpane_buttons {
    -fx-background-color: grey;
    -fx-vgap: 3;
    -fx-hgap: 5;
}





.iphone {
    -fx-background-color: 
        #a6b5c9,
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 7 30 7 30;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.shiny-orange {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}